language: java
jdk:
- oraclejdk8
sudo: false
script: script/deploy.sh
cache:
  directories:
  - "$HOME/.m2"
  - "$HOME/.gradle"
env:
  global:
    secure: LhhIxRoh52bvU0xsq7doOS8/6P0mw7jMqyM55eg3UFZ/dn2aP/QCMLdeXS7TkKSk0vCcf5FVRpTlZWa2sc1Px0hNYZCvX6OZVeVxRMOU0k7oDBrmoZDAtnv0dZDcL7IU9csT6OxgRA1mnt8yTVjq6d70Lodm1BKhSyOXIgM0039exCY+8viaI0eBSVu3h4Bai75dqfH1iool5VZ/khEg4Y50/RnsgYA5f4K8JiTldTHI89POTzBtmYcaatzzyzP1NGsauUyMF4OnIvH12Cj03hHRai5ky1RO+g7M20bT+1/MafD1y9f1IPwiK3tup6jCTZfidTqp7pjRmCSrDIT8SvJK1J3omT8KuSwQtTXsYeICedN3A3n9wvhZFfPDYle6KhYbavgOtMrFnwyXcZOQrjBFQ2aaQfXQsLx5vkw4mYmrjKHPI8Y2hOPX6qOPCmaGQRELkMMoZ8D2cqm6w4JFpUVkLmCefY/PvrmhfUpCXCJLPidbdjqtzp0nmt7FvkgBUOP+56tCaQBUF5hO3k50rl6nYszKOPrIWNnTdj0IzSpMnIRLGQFMH6DexuUlBk2Njcu2p5LAWNmY7dz9t8b+gww2R2Fo7zXkah8ZYAKQJBy73wd9fgDAQNwj+92Tm5mwl0oXVC7f2pnfXDr1KlfWNi8WVl/cDd+FkpWY/oS2THA=
